body {
  margin: 0;
  font-family: 'Cormorant', sans-serif;
  color: #BF7B5B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #253549;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
